/* HTML: <div class="loader"></div> */
.d-spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--color-brand) #0000;
    animation: l1 1s infinite;
}

.d-sm{
    width: 24px;
}
.d-lg{
    width: 100px;
}

.d-xlg{
    width: 120px;
}

.d-container-abs-centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}