@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* Snackbar Styles */
.snackbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    background-color: #323232;
    color: white;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    max-width: 95%;
    z-index: 10000000;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

@media (max-width: 768px){
    .snackbar{
        max-width: 100%;
    }
}

.snackbar.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.snackbar-message {
    flex: 1;
    margin-right: 20px;
}

.snackbar-action {
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
    text-transform: uppercase;
}

.snackbar-action:hover{
    text-decoration: underline;
}

.snackbar-close {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

/* Snackbar Variants */
.snackbar-success {
    background-color: #2ecc71;
}

.snackbar-warning {
    background-color: #f39c12;
}

.snackbar-error {
    background-color: #e74c3c;
}

.snackbar-info {
    background-color: #3498db;
}

.snackbar-action.info, .snackbar-action.error, .snackbar-action.success{
    color: #FFF;
}

.snackbar-action.warning{
    color: #ff0f0f;
}

/* Position Variants */
.snackbar-top {
    top: 20px;
    bottom: auto;
    transform: translateX(-50%) translateY(-100px);
}

.snackbar-top.show {
    transform: translateX(-50%) translateY(0);
}

.snackbar-left {
    left: 20px;
    transform: translateX(-100px);
}

.snackbar-left.show {
    transform: translateX(0);
}

.snackbar-right {
    left: auto;
    right: 20px;
    transform: translateX(100px);
}

.snackbar-right.show {
    transform: translateX(0);
}

/* Responsive Design */
@media (max-width: 768px) {
    .controls {
        grid-template-columns: 1fr;
    }

    .snackbar {
        min-width: 250px;
        padding: 12px 0.5rem;
    }
}